.CollectionScrollView-scrollContainer {
  overflow-y: auto;
}

.ScrollView {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.list-item {
  box-sizing: border-box;
  width: 100%;
  height: var(--item-height);
  border: 1px solid black;
  background: #ccc;
  opacity: 0.8;
}

#ember-testing-container {
  height: 480px !important;
}
