<div
  class="VerticalScrollBar"
  ...attributes
  {{did-insert this.didInsert}}
  {{did-update this.didUpdateScrollerHeight @scrollerHeight}}
>
  <div class="VerticalScrollBar-thumb" data-test-thumb data-thumb></div>
</div>
