{{!-- template-lint-disable no-inline-styles --}}
<div style="height:640px; width: 500px; overflow: hidden; position: relative">
  <LoadingScrollView
    @hasMore={{this.hasMore}}
    @isLoadingMore={{this.isLoadingMore}}
    @loadMore={{this.loadMore}}
    @threshold={{100}}
  >
    {{#each this.loadedStrings as |string|}}
      <p>{{string}}</p>
    {{/each}}
  </LoadingScrollView>
</div>
{{#if this.isLoadingMore}}
<div style="color:red">
  LOADING MORE...
</div>
{{/if}}
