<div style="height:640px; width: 320px; overflow: hidden; position: relative">
  <ScrollView as |scrollViewApi|>
    {{scroll-view-content
      scrollViewApi=scrollViewApi
    }}
  </ScrollView>
</div>
