.ScrollView {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;

  & > :first-child {
    position: relative;
    will-change: transform;
  }
  &-scrollBar {
    position: absolute;
    top: 2px;
    right: 3px;
    bottom: 2px;
    width: 4px;
  }
}
