.ScrollView {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &-scroller {
    flex: 1 1 auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* hide native scrollbar (Firefox) */
  }

  &-scroller::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &-content {
    min-height: 100%;
  }

  &-scroller > :first-child {
    position: relative;
  }
  &-scrollBar {
    position: absolute;
    top: 2px;
    right: 3px;
    bottom: 2px;
    width: 4px;
  }
}
