name: CI

on:
  push:
    branches: ["master", "main"]
  pull_request:
    branches: ["master", "main"]

jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - uses: actions/checkout@v4
      - uses: volta-cli/action@v4
      - run: volta install pnpm

      - name: Cache pnpm store
        uses: actions/cache@v4
        with:
          path: ~/.local/share/pnpm/store/v3
          key: ${{ runner.os }}-pnpm-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: ${{ runner.os }}-pnpm-

      - run: pnpm install --frozen-lockfile
      - run: pnpm run lint

  test:
    runs-on: ubuntu-latest
    needs: lint
    env:
      CI: true
    steps:
      - uses: actions/checkout@v4
      - uses: volta-cli/action@v4
      - run: volta install pnpm

      - name: Cache pnpm store
        uses: actions/cache@v4
        with:
          path: ~/.local/share/pnpm/store/v3
          key: ${{ runner.os }}-pnpm-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: ${{ runner.os }}-pnpm-

      - run: pnpm install --frozen-lockfile
      - run: pnpm run test:ember

  ember-try:
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      fail-fast: false
      matrix:
        scenario:
          - ember-lts-4.4
          - ember-lts-4.12
          # - ember-5.4
          # - ember-release
          # - ember-beta
          # - ember-canary
          # - embroider-safe
          # - embroider-optimized
    env:
      CI: true
      EMBER_TRY_SCENARIO: ${{ matrix.scenario }}
    steps:
      - uses: actions/checkout@v4
      - uses: volta-cli/action@v4
      - run: volta install pnpm

      - name: Cache pnpm store
        uses: actions/cache@v4
        with:
          path: ~/.local/share/pnpm/store/v3
          key: ${{ runner.os }}-pnpm-${{ hashFiles('pnpm-lock.yaml') }}
          restore-keys: ${{ runner.os }}-pnpm-

      - run: pnpm install --frozen-lockfile
      - run: pnpm run build && pnpm exec ember try:one $EMBER_TRY_SCENARIO --skip-cleanup
